USE [master]
GO
/****** Object:  Database [DCUniverse]    Script Date: 11/3/2017 1:26:42 PM ******/
CREATE DATABASE [DCUniverse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DCUniverse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DCUniverse.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DCUniverse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DCUniverse_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DCUniverse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DCUniverse]
GO
/****** Object:  Table [dbo].[Battle]    Script Date: 11/3/2017 1:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Battle](
	[BattleID] [int] IDENTITY(1,1) NOT NULL,
	[HeroID] [int] NOT NULL,
	[VillainID] [int] NOT NULL,
 CONSTRAINT [PK_Battle] PRIMARY KEY CLUSTERED 
(
	[BattleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hero]    Script Date: 11/3/2017 1:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hero](
	[HeroID] [int] IDENTITY(1,1) NOT NULL,
	[HeroName] [varchar](50) NOT NULL,
	[SecretIdentity] [varchar](100) NULL,
	[HasCape] [bit] NOT NULL,
	[PowerLevel] [int] NOT NULL,
 CONSTRAINT [PK_Hero] PRIMARY KEY CLUSTERED 
(
	[HeroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nemesis]    Script Date: 11/3/2017 1:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nemesis](
	[NemesisID] [int] IDENTITY(1,1) NOT NULL,
	[NemesisName] [varchar](50) NOT NULL,
	[InJail] [bit] NOT NULL,
	[NumberOfHenchmen] [int] NOT NULL,
	[HeroID] [int] NOT NULL,
 CONSTRAINT [PK_Nemesis] PRIMARY KEY CLUSTERED 
(
	[NemesisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Villain]    Script Date: 11/3/2017 1:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Villain](
	[VillainID] [int] IDENTITY(1,1) NOT NULL,
	[VillainName] [varchar](50) NOT NULL,
	[PowerLevel] [int] NOT NULL,
	[InJail] [bit] NOT NULL,
 CONSTRAINT [PK_Villain] PRIMARY KEY CLUSTERED 
(
	[VillainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Battle] ON 

INSERT [dbo].[Battle] ([BattleID], [HeroID], [VillainID]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[Battle] OFF
SET IDENTITY_INSERT [dbo].[Hero] ON 

INSERT [dbo].[Hero] ([HeroID], [HeroName], [SecretIdentity], [HasCape], [PowerLevel]) VALUES (1, N'Wonder Woman', N'Diana Prince', 0, 100)
SET IDENTITY_INSERT [dbo].[Hero] OFF
SET IDENTITY_INSERT [dbo].[Nemesis] ON 

INSERT [dbo].[Nemesis] ([NemesisID], [NemesisName], [InJail], [NumberOfHenchmen], [HeroID]) VALUES (1, N'Cheetah', 0, 0, 1)
SET IDENTITY_INSERT [dbo].[Nemesis] OFF
SET IDENTITY_INSERT [dbo].[Villain] ON 

INSERT [dbo].[Villain] ([VillainID], [VillainName], [PowerLevel], [InJail]) VALUES (1, N'Dr. Psycho', 30, 1)
SET IDENTITY_INSERT [dbo].[Villain] OFF
ALTER TABLE [dbo].[Battle]  WITH CHECK ADD  CONSTRAINT [FK_Battle_Hero] FOREIGN KEY([HeroID])
REFERENCES [dbo].[Hero] ([HeroID])
GO
ALTER TABLE [dbo].[Battle] CHECK CONSTRAINT [FK_Battle_Hero]
GO
ALTER TABLE [dbo].[Battle]  WITH CHECK ADD  CONSTRAINT [FK_Battle_Villain] FOREIGN KEY([VillainID])
REFERENCES [dbo].[Villain] ([VillainID])
GO
ALTER TABLE [dbo].[Battle] CHECK CONSTRAINT [FK_Battle_Villain]
GO
ALTER TABLE [dbo].[Nemesis]  WITH CHECK ADD  CONSTRAINT [FK_Nemesis_Hero] FOREIGN KEY([HeroID])
REFERENCES [dbo].[Hero] ([HeroID])
GO
ALTER TABLE [dbo].[Nemesis] CHECK CONSTRAINT [FK_Nemesis_Hero]
GO
USE [master]
GO
